.login{
    width: 90%;
    max-width: 40rem;
    margin: 7rem auto;
    padding: 2rem;
}
.button{
    cursor: pointer;
    border: none;
    background-color: #4A148C;
    color: whitesmoke;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    margin: 0.5rem auto;
}
.control{
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.control input{
    height: 2rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.control input:focus{
    outline-color: #ccc;
}

.control.invalid input{
    background-color: rgba(250, 128, 114, 0.685);
    outline-color: rgba(250, 128, 114, 0.671);
    border-color: rgba(250, 128, 114, 0.671);
}
.control.invalid input:focus{
    background-color: rgba(250, 128, 114, 0.685);
    outline-color: rgba(250, 128, 114, 0.671);      
}
