.quiz{
    width: 70%;
    margin: 0 auto;
    padding: 3rem; 
    text-align: left;
    position: relative;
}
.timer{
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #283593;
}

.choice-box{
    margin-top: 1rem;
    padding-left: 2rem;
    line-height: 2rem;
}

.choice-box label{
    padding-left: 1rem;
}
.button{
    text-align: right;
    margin-right: 4rem;
}
.button button{
    cursor: pointer;
    border: none;
    background-color: #283593;
    color: whitesmoke;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    margin: 0.5rem auto;
}
.button button:hover{
    background: #4A148C;
}