.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #4A148C;
    justify-content: space-between;
    
  }

.main-header h1{
    margin-left: 2rem;
    color: white;
}
